:host{

	header {
		width: 1165px;
		display: grid;
		grid-template-columns: max-content auto;
		margin-left: auto;
		margin-right: auto;
		padding: 8px;
		justify-content: space-between;

		.left {
			a { &.estActif {font-weight: bold;} }
		}

		@media screen and (max-width: 1250px){
			width: 900px;
		}
		@media screen and (max-width: 1024px){
			width: 700px;
		}
		@media screen and (max-width: 800px){
			width: 600px;
		}
		@media screen and (max-width: 650px){
			width: 500px;
				.accueilBlock {
					display: none !important;
				}
		}
		@media screen and (max-width: 360px) {
			width: 300px;
			.accueilBlock {
				display: none !important;
			}
		}
	}

	//@media screen and (max-width: 1920px){
	//	width: 1165px;
	//	margin-right: auto;
	//	margin-right: auto;
	//}
	//@media screen and (max-width: 1420px){
	//	width: 1000px;
	//}
	//@media screen and (max-width: 1024px){
	//	width: 700px;
	//}
	//@media screen and (max-width: 768px) {
	//	width: 550px;
	//}
	//@media screen and (max-width: 630px) {
	//	width: 400px;
	//	.accueilBlock {
	//		display: none !important;
	//	}
	//}
	//@media screen and (max-width: 360px) {
	//	width: 300px;
	//	.accueilBlock {
	//		display: none !important;
	//	}
	//}
}
