:host {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: min-content auto min-content;
	grid-template-columns: auto;
	overflow: hidden;
	row-gap: 24px;

	.body {
		height: 100%;
		width: 1400px;
		overflow: hidden;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: min-content 100%;
		margin-right: auto;
		margin-left: auto;
	}
}
