

<div class="nom-produit">{{produit.nom}}</div>
<div class="brasserie">{{produit.brasserie}}</div>
<div class="date-ajout">{{produit.date_ajout}}</div>
<div class="date-modification">{{produit.date_modif}}</div>
<div class="buttons" *ngIf="estConnecte">
	<a routerLink="/produit/{{produit.id_biere}}"><button mat-raised-button color="primary" (click)="onModifier(produit.id_biere)">Modifier</button></a>
	<button mat-raised-button color="warn" (click)="onEffacer(produit.id_biere)">Effacer</button>
</div>
