:host {
	height: 56px;
	display: grid;
	grid-template-rows: min-content;
	grid-template-columns: 200px 200px 200px 200px auto;

	column-gap: 20px;
	align-items: center;
	padding: 10px 20px;
	background-color: #23283d;
	color: #d0d0d0;
	border-radius: 6px;

	.nom-produit {}
	.buttons{
		display: flex;
		justify-content: end;
		flex-wrap: nowrap;
		column-gap: 12px;
	}

	@media screen and (max-width: 1024px){
		width: 700px;
	}
	@media screen and (max-width: 768px) {
		width: 550px;
	}
	@media screen and (max-width: 630px) {
		width: 400px;
	}
	@media screen and (max-width: 360px) {
		width: 300px;
	}
}
