:host {
	display: grid;
	grid-template-rows: 36px;
	grid-template-columns: 200px 200px 200px 200px auto;

	column-gap: 20px;
	align-items: center;
	align-content: center;
	padding: 10px 20px;
	background-color: #23283d;
	color: #90a7cb;
	border-radius: 6px;

	.nom-produit {}
	.brasserie {}
	.date-ajout {
		color: #5f769b;
		font-weight: 200;
	}
	.date-modification {color: #5f769b;}
	.buttons{
		display: flex;
		justify-content: end;
		flex-wrap: nowrap;
		column-gap: 12px;
	}

	@media screen and (max-width: 1024px){
		width: 700px;
	}
	@media screen and (max-width: 768px) {
		width: 550px;
	}
	@media screen and (max-width: 630px) {
		width: 400px;
	}
	@media screen and (max-width: 360px) {
		width: 300px;
	}
}
