
<article *ngIf="!peutEditer; else editable" class="unProduit"  >
    <p><a routerLink="/produit/{{produit.id_biere}}">Nom : {{produit.nom}}</a></p>
    <p>Fabricant : {{produit.brasserie}}</p>
</article>

<ng-template #editable>
    <!--<article  class="unProduit" >
        <p>Nom : <input type="text" [(ngModel)]="produit.nom"></p>
        <p>Fabricant : <input type="text"  [(ngModel)]="produit.brasserie"></p>
    </article>-->
    <form [formGroup]="modifForm">
        <p>Nom : <input formControlName="nom"></p>
        <p>Brasserie : <input formControlName="brasserie"></p>
        <p>Description : <textarea formControlName="description"></textarea></p>
        <button (click)="modifier()" [disabled]="!modifForm.dirty || !modifForm.valid">Modifier</button>
        <button><a routerLink="/produit/{{produit.id_biere}}">Modifier</a></button>
        <button (click)="annuler()" [disabled]="!modifForm.dirty">Annuler</button>
    </form>

</ng-template>
    <p *ngIf="estConnecte">Est éditable ? <input type="checkbox" (change)="changeEditable()" [(ngModel)]="peutEditer"></p>
