<article class="exJson">
<p>Detail</p>
<pre>{{biere | json}}
</pre>
</article>

<div class="form-change">
	<h3>Form biere</h3>
	<form [formGroup]="modifForm">
		<div class="form-inputs">
			<label for="formName">Nom :</label>
			<input id="formName" formControlName="nom">

			<label for="formBrasserie">Brasserie :</label>
			<input id="formBrasserie" formControlName="brasserie">

			<label for="formDescription">Description :</label>
			<textarea id="formDescription" formControlName="description" ></textarea>
		</div>

		<div class="form-btn">
			<button mat-raised-button color="primary" >Modifier</button>
			<button mat-raised-button color="warn" >Annuler</button>
		</div>
	</form>
</div>

