<article class="exJson">
<p>Detail</p>
<pre>{{biere | json}}
</pre>
</article>

<div class="form-change">
	<h3>Form biere</h3>
	<form [formGroup]="modifForm">
		<div class="form-inputs">
			<label for="formName">Nom:</label>
			<input id="formName" formControlName="nom">

			<label for="formBrasserie">Brasserie:</label>
			<input id="formBrasserie" formControlName="brasserie">

			<label for="formDescription">Description:</label>
			<textarea id="formDescription" formControlName="description" rows="4" cols="70"></textarea>
		</div>

		<div class="form-btn">
			<button mat-raised-button color="primary" (click)="modifier()" [disabled]="!modifForm.dirty || !modifForm.valid">Modifier</button>
			<button mat-raised-button color="warn" (click)="annuler()" [disabled]="!modifForm.dirty">Annuler</button>
		</div>
	</form>
</div>
<p>Est éditable ? <input type="checkbox" (change)="changeEditable()" [(ngModel)]="peutEditer"></p>

