
:host {
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto;
	align-items: start;
	.title {}
	.liste {
		height: 100%;
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: row;
		row-gap: 4px;
		overflow: auto;
		align-content: start;
	}
}
