<!--<p>accueil works!</p>-->

<div class="pageAccueil ">
  <div class="photo-banner">
<!--    <img src={headerPhoto} />-->
    <div class='photo-banner-text'>
      <a href="/produit" class="photo-banner-title" >Biere de Montreal</a>
      <a href="/produit" class="photo-banner-title" >Notre sélection de produit</a>
    </div>
  </div>
  <div>
    <h1 class='decouvrir-titre'>À découvrir</h1>
  </div>
  <div class='decouvrir-container'>
    <section class='decouvrir-cartes'>
      <h2>Espace Québec</h2>
      <div>
        <h3></h3>
        <p>Maintenant plus que jamais, découvrez les producteurs artisans locaux passionnés qui exploitent avec fierté les richesses du terroir de la Belle Province.</p>
      </div>
    </section>
    <section class='decouvrir-cartes'>
      <h2>Besoin d'inspiration?</h2>
      <div>
        <h3></h3>
        <p>Maintenant plus que jamais, découvrez les producteurs artisans locaux passionnés qui exploitent avec fierté les richesses du terroir de la Belle Province.</p>
      </div>
    </section>
    <section class='decouvrir-cartes'>
      <h2>Espace cocktail</h2>
      <div>
        <h3></h3>
        <p>Maintenant plus que jamais, découvrez les producteurs artisans locaux passionnés qui exploitent avec fierté les richesses du terroir de la Belle Province.</p>
      </div>
    </section>

  </div>
</div>
